<h3>CPT Office Visit Coder</h3>
<a routerLink="/calculator">Calculate Code</a>

<select name="codeprm" (change)="tutorialCode($event.target.value)">
  <option value="">Select Code</option>
  <option value="1111">1111</option>
  <option value="2222">2222</option>
  <option value="3333">3333</option>
  <option value="4444">4444</option>
</select>

<!-- <button routerLink="" class="btn btn-sm btn-link">Home</button>
<button routerLink="/calculator" class="btn btn-sm btn-link">Calculator</button>
<button routerLink="/calculator/time" class="btn btn-sm btn-link">Time</button>
<button routerLink="/tutorial" class="btn btn-sm btn-link">Tutorial</button> -->
